.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  .btn-1 {
    margin-right: 450px;
    color: red;
    font-weight: bold;
  }

  .btn-2 {
    font-weight: bold;
    color: blue;
  }

  .btn-1:hover {
    cursor: pointer;
  }

  .btn-2:hover {
    cursor: pointer;
  }

  .Header a {
    text-decoration: none;
    color: white;
}
  .Header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .logo {
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 45px;
  }

  .audio {
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 5px;
  }

  .NavLinks {
    list-style: none;
    display: flex;
    margin-top: 15px;
}

.NavLinks li {
    margin-right: 20px;
    font-size: 30px;
}