@import url('https://fonts.googleapis.com/css?family=Roboto|Stylish&display=swap');



h1 {
  text-align: center;
}
.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content aside"
    "footer footer footer";
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: auto 1fr 200px;
  grid-gap: 10px;
  height: 100vh;
}

header {
  grid-area: header;
  background-color: rgb(212, 154, 66);
  border-radius: 5px;
}

nav {
  grid-area: nav;
  margin-left: 0.5rem;
  background-color: rgb(212, 154, 66);
  border: 5px solid rgb(131, 34, 34);
  border-radius: 5px;
}

main {
  grid-area: content;
  background-color: none;
  
}

aside {
  grid-area: aside;
  margin-right: 0.5rem;
  background-color: rgb(212, 154, 66);
  border: 5px solid rgb(131, 34, 34);
  border-radius: 5px;
  color: rgb(131, 34, 34);
}

footer {
  grid-area: footer;
  height: 40px;
  position:absolute;
  bottom:0px;
  width: 100%;
  background-color:none;
  color: rgb(131, 34, 34);
}
.Song {
  border: 5px solid rgb(212, 154, 66);
  padding: 5px;
  font-family: 'Stylish', sans-serif;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: rgb(131, 34, 34);
  color: white;
}

.NavLinks {
  list-style: none;
  display: flex;
  margin-top: 15px;
}

button {
  border: none;
  border-radius: 5px;
  background-color: rgb(212, 154, 66);
}


form {
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: .3em;
  margin-right: 4px;
  background: none;
  padding: .1em;
}

form > label  {
  grid-column: labels;
  grid-row: auto;
}

form > input,
form > textarea,
form > button {
  grid-column: controls;
  grid-row: auto;
  border: none;
  padding: .2em;
  border: 2px solid black;
  border-radius: 5px;
}



body {
  margin: 0;
  background-image: url('https://ma-hub.imgix.net/wp-images/2019/05/04185051/royalty-free-music-Background.jpg?w=1600&h=850&auto=format');
  background-position: center;
  background-repeat:repeat-y;
  background-size: cover;
  position: relative;

}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "aside"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(200px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
  }

  nav, aside {
    margin: 0;
  }
  nav {
    padding: 20px 20%
  }
}